.index-logo{
    height: 100px;
}

#kezdolap_logo{
    height: 40px;
    padding-left: 20px;
}

.banner{
    height: 100vh;
    width: 100%;
    background: url(img/overlay.png),url(img/index_bgimage.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.kezdoknekimg{
    height: 100vh;
    width: 100%;
    background: url(img/overlay.png),url(img/kezdoknek_bgimage.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav li a{
    color: white;
}

.row{
    padding-left: 25px;
    padding-top: 50px;
}
.esport_faze{
    height: 250px;
    width: 350px;
    cursor: pointer;
    padding-bottom: 60px;
}

.wrapper{
    font-family: sans-serif;
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.esport_img{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transform: .5s ease;
    padding-top: 50px;
    transition: all 0.4s ease-in-out;
}

.content{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 60px;
    color: white;
    white-space: nowrap;
    overflow: hidden;
}

.content a{
    font-size: 24px;
    display: block;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.overlay{
    opacity: 0;
}

.wrapper:hover .esport_img{
    opacity: .5;
    transform: scale(1.1);
}

.wrapper:hover .overlay{
    opacity: 1;
}

.index_text {
    color: white;
    text-align: center;
    padding-top: 150px;
}

h2 {
    color: white;
    padding-left: 400px;
    padding-top: 100px;
}

.kezdoknek_csgo {
    padding-left: 400px ;
    padding-top: 100px ;
    height: 800px;
    width: auto;
    padding-right: 250px;
}

p {
    color: white;
}

#kezdoknek_ct-t {
    height: 700px;
    width: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}