
.index-logo {
    height: 100px;
}

#kezdolap_logo {
    height: 40px;
    padding-left: 20px;
}

.banner {
    height: 100vh;
    width: 100%;
    background: url(overlay.png),url(index_bgimage.png);
    background-position: top;
    background-size: cover;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
}
#kezdoknekimg {
    height: 100vh;
    width: 100%;
    background: url(overlay.png),url(kezdoknek_bgimage.jpg);
    background-position: top;
    background-size: cover;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
}

nav li a {
    color: white;
}

.row {
    padding-left: 25px;
    padding-top: 50px;
}
.esport_faze {
    height: 250px;
    width: 350px;
    cursor: pointer;
    padding-bottom: 60px;
}

.esport_cigi {
    height: 200px;
    width: 350px;
    cursor: pointer;
    padding-bottom: 0px;
}
